/* Fonts */
@font-face
{
  font-family: EngineeringHand;
  src: url(fonts/EngineeringHand.ttf);
}

@font-face
{
  font-family: Blake;
  src: url(fonts/Blake.ttf);
}

@font-face
{
  font-family: MarketDeco;
  src: url(fonts/MarketDeco.ttf);
}

@font-face
{
  font-family: NovemberSky;
  src: url(fonts/NovemberSky.ttf);
}

@font-face
{
  font-family: NovemberSkyBold;
  src: url(fonts/NovemberSkyBold.ttf);
}

@font-face
{
  font-family: Bellerose;
  src: url(fonts/Bellerose.ttf);
}

/* Base Styles */
html
{
  min-height: 100%;
  position:   relative;
}

body
{
  font-size:   12pt;
  font-family: Arial, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background:  #111;
  margin:      0px;
  height:      100%;
}

headline
{
  font-family:    MarketDeco;
  letter-spacing: 6px;
  text-align:     center;
  font-size:      10pt;
  color:          #383838;
  display:        block;
  margin:         0px auto;
  width:          inherit;
  overflow:       hidden;
}

h1
{
  font-family:    Blake;
  letter-spacing: 8px;
  text-align:     center;
  font-size:      35pt;
  color:          #111;
}

h2
{
  font-family: Blake;
  letter-spacing: 3px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 10px;
  color: #111;
}

h3
{
  font-family: Blake;
  letter-spacing: 1px;
  font-size: 14pt;
  color: #111;
}

subtitle
{
  color: #3c3c3c;
  font-family: MarketDeco;
  font-size: 11pt;
  font-variant: small-caps;
  text-align: center;
  margin-top: -7px;
  display:block;
}

p
{
  font-family: Bellerose;
  font-size:   14pt;
}

section#contentWrapper > article > p
{
  margin: 10px;
}

navbar > a
{
  font-family:  MarketDeco;
  width:        100%;
  float:        left;
  display:      block;
  color:        #aaa;
  font-size:    9pt;
  margin-top:   5px;
  font-variant: small-caps;
}

navbar > a:hover
{
  color: #777;
}

section#strip > article
{
  margin-left:55px;
}

section#strip > article > p 
{
  padding:20px;
}

img.banner
{
  width: 100%;
  margin: 0;
  box-shadow: 0px 8px 10px #444;
  -webkit-animation: fadeIn 3s ease;
  animation:         fadeIn 3s ease;
}

/* Sections */
svg#planetarium
{
  position:fixed;
  overflow:hidden;
  z-index:-1;
}

navbar#side
{
  display:           block;
  overflow:          hidden;
  position:          fixed;
  width:             50px;
  height:            100%;
  margin-left:       -55px;
  padding-top:       5px;
  padding-left:      5px;
  background:        rgb(17,17,17);
  background:        rgba(17,17,17,0.7);
  z-index:           2;
  -webkit-animation: openNav 3s ease;
  animation:         openNav 3s ease;
}

#frame
{
  display:  block;
  overflow: hidden;
  position: absolute;
  width:    100%;
  height:   100%;
}

#strip
{
  display:           block;
  position:          relative;
  margin:            0px auto;
  width:             50%;
  min-width:         250px;
  max-width:         600px;
  height:            100%;
  overflow-x:        hidden;
  overflow-y:        scroll;
  background:        rgb(54, 25, 25);
  background:        rgba(150, 150, 150, 0.75);
  -webkit-animation: openStrip 2s ease;
  animation:         openStrip 2s ease;
}

#contentWrapper
{
  width: auto;
  /*padding: 0px 0px 0px 55px;*/
  display: block;
  overflow: hidden;  
}

}

/* SVG Styles */
.constellationFill
{
  stroke:         #aaa;
  stroke-width:   0px;
  stroke-opacity: 0;
  fill:           rgb(220,220,220);
  fill-opacity:   0;
  -webkit-animation: constellationFill 5s ease;
  animation:         constellationFill 5s ease;
}

path.constellationLines
{
  stroke:         #aaa;
  stroke-width:   1px;
  stroke-opacity: 0.0;
  fill:           rgb(220,220,220);
  fill-opacity:   0.0;
  -webkit-animation: constellationLines 5s ease;
  animation:         constellationLines 5s ease;
}

circle.namestar, circle.star
{
  fill: #bbb;
  -webkit-animation: namestar 3s ease;
  animation:         namestar 3s ease;
}

/* Animations */
@-webkit-keyframes openStrip
{
0%   {width:0px; min-width:0px; opacity:0.2;}
40%  {width:0px; min-width:0px; opacity:0.2;}
100% {width:50%; min-width:250px; opacity:1;}
}

@keyframes openStrip
{
0%   {width:0px; min-width:0px; opacity:0.2;}
40%  {width:0px; min-width:0px; opacity:0.2;}
100% {width:50%; min-width:250px; opacity:1;}
}

@-webkit-keyframes openNav
{
0%   {width:0px; padding-left:0px;}
70%  {width:0px; padding-left:0px;}
100% {width:50px; padding-left:5px;}
}

@keyframes openNav
{
0%   {width:0px; padding-left:0px;}
70%  {width:0px; padding-left:0px;}
100% {width:50px; padding-left:5px;}
}

@-webkit-keyframes fadeIn
{
0%   {opacity:0;}
70%  {opacity:0;}
100% {opacity:1;}
}

@keyframes fadeIn
{
0%   {opacity:0;}
70%  {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes constellationFill
{
0%   {fill-opacity:0;}
40%  {fill-opacity:0;}
60% {fill-opacity:0.2;}
90% {fill-opacity:0.2;}
100%  {fill-opacity:0;}
}

@keyframes constellationFill
{
0%   {fill-opacity:0;}
40%  {fill-opacity:0;}
60% {fill-opacity:0.2;}
90% {fill-opacity:0.2;}
100%  {fill-opacity:0;}
}

@-webkit-keyframes constellationLines
{
0%   {stroke-opacity:0;}
40%  {stroke-opacity:0;}
60% {stroke-opacity:1;}
90% {stroke-opacity:1;}
100% {stroke-opacity:0;}
}

@keyframes constellationLines
{
0%   {stroke-opacity:0;}
40%  {stroke-opacity:0;}
60% {stroke-opacity:1;}
90% {stroke-opacity:1;}
100% {stroke-opacity:0;}
}

@-webkit-keyframes namestar
{
0%   {fill-opacity:0;}
30%  {fill-opacity:0;}
40% {fill-opacity:1;}
100% {fill-opacity:1;}
}

@keyframes namestar
{
0%   {fill-opacity:0;}
30%  {fill-opacity:0;}
40% {fill-opacity:1;}
100% {fill-opacity:1;}
}

/* Other */
::-webkit-scrollbar {
  width: 4px;
}
 
::-webkit-scrollbar-thumb {
  border-radius:      10px;
  background-color:   rgba(30,30,30,0.8);
}



/* Old Trash
.bubble
{
  width:             40%;
  max-width:         280px;
  border-radius:     140px;
  overflow:          hidden;
}

a.bubble
{
  display: block;
}

img.bubble
{
  width:100%;
  -webkit-transition: width .3s, padding .3s;
  transition:         width .3s, padding .3s;
  -webkit-animation:  fadeBubble 2s ease;
  animation:          fadeBubble 2s ease;
}

img.bubble:hover
{
  padding:5% 0px 5% 5%;
  width:90%;
}

@-webkit-keyframes fadeBubble
{
0%   {opacity:0;}
30%  {opacity:0;}
100% {opacity:1;}
}

@keyframes fadeBubble
{
0%   {opacity:0;}
30%  {opacity:0;}
100% {opacity:1;}
}
*/
