/* Fonts */
@font-face
{
  font-family: EngineeringHand;
  src: url(fonts/EngineeringHand.ttf);
}

@font-face
{
  font-family: Blake;
  src: url(fonts/Blake.ttf);
}

@font-face
{
  font-family: MarketDeco;
  src: url(fonts/MarketDeco.ttf);
}

@font-face
{
  font-family: NovemberSky;
  src: url(fonts/NovemberSky.ttf);
}

@font-face
{
  font-family: NovemberSkyBold;
  src: url(fonts/NovemberSkyBold.ttf);
}

@font-face
{
  font-family: Bellerose;
  src: url(fonts/Bellerose.ttf);
}

@font-face
{
  font-family: Voltaire;
  src: url(fonts/Voltaire.ttf);
}

/* Base Styles */
html
{
  min-height: 100%;
  position:   relative;
}

body
{
  font-size:   12pt;
  font-family: Arial, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background:  #111;
  margin:      0px;
  height:      100%;
}

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
   display: none;
}

label#onoff {
  position:absolute;
  z-index: 2;
  cursor: pointer;
  font-family:  MarketDeco;
  float:        left;
  color:        #777;
  font-size:    9pt;
  margin-top:   5px;
  font-variant: small-caps;
  text-decoration: none;
}

/* Toggled State */
input[type=checkbox]:checked + section#frame {
   display:none;
}

input[type=checkbox]:checked + section.subsection {
   max-height:0px;
   -webkit-animation: closeSub 0.7s ease;
   animation:         closeSub 0.7s ease;
   opacity: 0;
}



section.subsection {
  -webkit-animation: openSub 0.7s ease;
  animation:         openSub 0.7s ease;
  opacity: 1;
  background:        rgb(85,85,85);
  background:        rgba(85,85,85,0.7);
}

div {
  display: none;
}

div:target {
  display: block;
}

headline
{
  font-family:    MarketDeco;
  letter-spacing: 6px;
  text-align:     center;
  font-size:      10pt;
  color:          #383838;
  display:        block;
  margin:         0px auto;
  width:          inherit;
  overflow:       hidden;
}

h1
{
  font-family:    Blake;
  letter-spacing: 8px;
  text-align:     center;
  font-size:      35pt;
  color:          #111;
  margin-top:     50px;
  margin-bottom:  15px;
}

h2
{
  font-family: Blake;
  letter-spacing: 3px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 10px;
  color: #111;
}

h3
{
  font-family: Blake;
  letter-spacing: 1px;
  font-size: 14pt;
  color: #111;
  margin: 20px 10px 0px 10px;
}

label.subsection
{
  font-family: Blake;
  letter-spacing: 1px;
  color: #111;
  font-weight: bold;
  display: block;
  font-size: 23pt;
  cursor:n-resize;
  position: relative;
  text-align: center;
}


h4
{
  font-family:    MarketDeco;
  font-size:      10pt;
  color:          #333;
  margin:         0px 10px 0px 10px;
  font-weight:    normal;
}

subtitle
{
  color: #3c3c3c;
  font-family: MarketDeco;
  font-size: 11pt;
  font-variant: small-caps;
  text-align: center;
  margin: -7px 10px 15px 10px;
  display:block;
}

p, ul, li
{
  font-family: Voltaire;
  font-size:   12pt;
  margin: 0px 10px 10px 10px;
}

span.highlight
{
  color: #900;
  text-decoration: none; 
}

article a
{
  color: #900;
  text-decoration: none;
}

article a:hover
{
  color: #444;
  text-decoration: none;
}

navbar a
{
  font-family:  MarketDeco;
  width:        100%;
  float:        left;
  display:      block;
  color:        #aaa;
  font-size:    9pt;
  margin-top:   5px;
  font-variant: small-caps;
  text-decoration: none;
}

navbar a:hover
{
  color: #777;
  text-decoration: none;
}

section#strip > article
{
  margin-left:55px;
}

section#strip > article > p 
{
  padding:20px;
}

img.banner
{
  width: 100%;
  margin: 0;
  box-shadow: 0px 8px 10px #444;
  /*-webkit-animation: fadeIn 1s ease;
  animation:         fadeIn 1s ease;*/
}


/* Sections */
svg#planetarium
{
  position:fixed;
  overflow:hidden;
  z-index:-1;
}

navbar#side
{
  display:           block;
  overflow:          hidden;
  position:          fixed;
  width:             50px;
  height:            100%;
  margin-left:       -55px;
  padding-top:       5px;
  padding-left:      5px;
  background:        rgb(40,40,40);
  background:        rgba(40,40,40,0.7);
  z-index:           2;
  -webkit-animation: openNav 5s ease;
  animation:         openNav 5s ease;
}

#frame
{
  top: 0px;
  display:  block;
  overflow: hidden;
  position: fixed;
  width:    100%;
  height:   100%;
}

#strip
{
  display:           block;
  position:          relative;
  margin:            0px auto;
  width:             50%;
  min-width:         250px;
  max-width:         600px;
  height:            100%;
  overflow-x:        hidden;
  overflow-y:        scroll;
  background:        rgb(150, 150, 150);
  background:        rgba(150, 150, 150, 0.85);
  -webkit-animation: openStrip 5s ease;
  animation:         openStrip 5s ease;
}

#contentWrapper
{
  width: auto;
  /*padding: 0px 0px 0px 55px;*/
  display: block;
  overflow: hidden;
  -webkit-animation: fadeIn 5s ease;
  animation:         fadeIn 5s ease;
}

#fadeWrapper
{
  -webkit-animation: fadeIn 5s ease;
  animation:         fadeIn 5s ease;
}

/* SVG Styles */
path.constellationFill
{
  /*fill-opacity:   0.0;*/
  fill: #ccc;
  /*-webkit-animation: constellationFill 5s ease;
  animation:         constellationFill 5s ease;*/
}

path.constellationLines
{
  stroke:         #aaa;
  stroke-width:   1px;
  stroke-opacity: 0.0;
  fill-opacity:   0.0;
  /*-webkit-animation: constellationLines 5s ease;
  animation:         constellationLines 5s ease;*/
}

circle.namestar, circle.star
{
  fill: #bbb;
  /*-webkit-animation: namestar 3s ease;
  animation:         namestar 3s ease;*/
}

/* Animations */
@-webkit-keyframes openStrip
{
0%   {width:0px; min-width:0px; opacity:0.0;}
40%  {width:0px; min-width:0px; opacity:0.0;}
80%  {width:50%; min-width:250px; opacity:1;}
100% {width:50%; min-width:250px; opacity:1;}
}

@keyframes openStrip
{
0%   {width:0px; min-width:0px; opacity:0.0;}
40%  {width:0px; min-width:0px; opacity:0.0;}
80%  {width:50%; min-width:250px; opacity:1;}
100% {width:50%; min-width:250px; opacity:1;}
}

@-webkit-keyframes openSub
{
0%   {max-height:0px; opacity:0.0;}
50% {max-height:1000px; opacity:0.0;}
100% {max-height:1000px; opacity:1;}
}

@keyframes openSub
{
0%   {max-height:0px; opacity:0.0;}
50% {max-height:1000px; opacity:0.0;}
100% {max-height:1000px; opacity:1;}
}

@-webkit-keyframes closeSub
{
0%   {max-height:1000px; opacity:1.0;}
50% {max-height:1000px; opacity:0.0;}
99% {max-height:0px; opacity:0.0;}
100% {max-height:0px; opacity:0.0;}

}

@keyframes closeSub
{
0%   {max-height:1000px; opacity:1.0;}
50% {max-height:1000px; opacity:0.0;}
99% {max-height:0px; opacity:0.0;}
100% {max-height:0px; opacity:0.0;}
}

@-webkit-keyframes openNav
{
0%   {width:0px; padding-left:0px;}
60%  {width:0px; padding-left:0px;}
80% {width:50px; padding-left:5px;}
100% {width:50px; padding-left:5px;}
}

@keyframes openNav
{
0%   {width:0px; padding-left:0px;}
60%  {width:0px; padding-left:0px;}
80% {width:50px; padding-left:5px;}
100% {width:50px; padding-left:5px;}
}

@-webkit-keyframes fadeIn
{
0%   {opacity:0;}
80%  {opacity:0;}
99% {opacity:1;}
100% {opacity:1;}
}

@keyframes fadeIn
{
0%   {opacity:0;}
80%  {opacity:0;}
99% {opacity:1;}
100% {opacity:1;}
}

@-webkit-keyframes constellationFill
{
0%    {fill-opacity:0;}
40%   {fill-opacity:0;}
60%   {fill-opacity:0.2;}
90%   {fill-opacity:0.2;}
100%  {fill-opacity:0;}
}

@keyframes constellationFill
{
0%    {fill-opacity:0;}
40%   {fill-opacity:0;}
60%   {fill-opacity:0.2;}
90%   {fill-opacity:0.2;}
100%  {fill-opacity:0;}
}

@-webkit-keyframes constellationLines
{
0%   {stroke-opacity:0;}
40%  {stroke-opacity:0;}
60%  {stroke-opacity:1;}
90%  {stroke-opacity:1;}
100% {stroke-opacity:0;}
}

@keyframes constellationLines
{
0%   {stroke-opacity:0;}
40%  {stroke-opacity:0;}
60%  {stroke-opacity:1;}
90%  {stroke-opacity:1;}
100% {stroke-opacity:0;}
}

@-webkit-keyframes namestar
{
0%   {fill-opacity:0;}
30%  {fill-opacity:0;}
40%  {fill-opacity:1;}
100% {fill-opacity:1;}
}

@keyframes namestar
{
0%   {fill-opacity:0;}
30%  {fill-opacity:0;}
40%  {fill-opacity:1;}
100% {fill-opacity:1;}
}

/* Other */
::-webkit-scrollbar {
  width: 4px;
}
 
::-webkit-scrollbar-thumb {
  border-radius:      10px;
  background-color:   rgba(30,30,30,0.8);
}



/* Old Trash
.bubble
{
  width:             40%;
  max-width:         280px;
  border-radius:     140px;
  overflow:          hidden;
}

a.bubble
{
  display: block;
}

img.bubble
{
  width:100%;
  -webkit-transition: width .3s, padding .3s;
  transition:         width .3s, padding .3s;
  -webkit-animation:  fadeBubble 2s ease;
  animation:          fadeBubble 2s ease;
}

img.bubble:hover
{
  padding:5% 0px 5% 5%;
  width:90%;
}

@-webkit-keyframes fadeBubble
{
0%   {opacity:0;}
30%  {opacity:0;}
100% {opacity:1;}
}

@keyframes fadeBubble
{
0%   {opacity:0;}
30%  {opacity:0;}
100% {opacity:1;}
}
*/
