/* Base Styles */
html
{
  min-height: 100%;
  position:   relative;
}

body
{
  font-size:   12pt;
  font-family: Arial, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background:  #111;
  margin:      0px;
  height:      100%;
}

h1
{
  letter-spacing: 8px;
  text-align:     center;
  font-size:      26pt;
  color:          #111;
}

p
{
}

navbar > a
{
  width:        100%;
  float:        left;
  display:      block;
  color:        #aaa;
  font-size:    9pt;
  margin-top:   5px;
  font-variant: small-caps;
}

navbar > a:hover
{
  color: #777;
}



/* Sections */
svg#planetarium
{
  position:fixed;
  overflow:hidden;
  z-index:-1;
}

navbar#side
{
  display:           block;
  overflow:          hidden;
  position:          absolute;
  left:              0px;
  width:             50px;
  height:            100%;
  margin:            0px;
  padding-top:       5px;
  padding-left:      5px;
  background:        rgb(17,17,17);
  background:        rgba(17,17,17,0.7);
  z-index:           2;
  -webkit-animation: openNav 3s ease;
  animation:         openNav 3s ease;
}

#wrapper
{
  display:  block;
  overflow: hidden;
  position: absolute;
  width:    100%;
  height:   100%;
}

.strip
{
  display:           block;
  position:          relative;
  margin:            0px auto;
  width:             600px;
  height:            100%;
}

.bubble
{
  width:             280px;
  border-radius:     140px;
}

a.bubble
{
  height: 280px;
  display: block;
}

img.bubble
{
  -webkit-transition: width .3s, padding .3s;
  transition:         width .3s, padding .3s;
  -webkit-animation:  fadeBubble 2s ease;
  animation:          fadeBubble 2s ease;
}

img.bubble:hover
{
  padding:15px 0px 0px 15px;
  width:250px;
}

#content
{
  overflow-x:        hidden;
  overflow-y:        scroll;
  background:        rgb(54, 25, 25);
  background:        rgba(150, 150, 150, 0.6);
  -webkit-animation: openContent 2s ease;
  animation:         openContent 2s ease;
}

/* Animations */
@-webkit-keyframes openContent
{
0%   {width:0px; opacity:0.2;}
40%  {width:0px; opacity:0.2;}
100% {width:600px; opacity:1;}
}

@keyframes openContent
{
0%   {width:0px; opacity:0.2;}
40%  {width:0px; opacity:0.2;}
100% {width:600px; opacity:1;}
}

@-webkit-keyframes openNav
{
0%   {width:0px; padding-left:0px;}
70%  {width:0px; padding-left:0px;}
100% {width:50px; padding-left:5px;}
}

@keyframes openNav
{
0%   {width:0px; padding-left:0px;}
70%  {width:0px; padding-left:0px;}
100% {width:50px; padding-left:5px;}
}

@-webkit-keyframes fadeBubble
{
0%   {opacity:0;}
30%  {opacity:0;}
100% {opacity:1;}
}

@keyframes fadeBubble
{
0%   {opacity:0;}
30%  {opacity:0;}
100% {opacity:1;}
}

/* Other */
::-webkit-scrollbar {
  width: 4px;
}
 
::-webkit-scrollbar-thumb {
  border-radius:      10px;
  background-color:   rgba(30,30,30,0.8);
}
